body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(247, 234, 223);
    background-size: cover;
  }
  
  }
  button{
      background-color:;
  }
  h1 {
      font color: red;
      margin-top: 10%;
     margin-left:45%;
  }
  p {
      font color:blue;
    margin-left:30%;
 }